#################################################################################
####### Requirements for the Python script, `simulate_compare_methods.py` #######
#################################################################################

pyvolve >= 0.8.7            
phyphy >= 0.3
